@import './scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito text-gray-800;
}

.gradient-bg {
  background: hsla(294, 55%, 40%, 1);
  background: linear-gradient(135deg, hsla(294, 55%, 40%, 1) 0%, hsla(161, 73%, 54%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(294, 55%, 40%, 1) 0%, hsla(161, 73%, 54%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(294, 55%, 40%, 1) 0%, hsla(161, 73%, 54%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#922D9D", endColorstr="#35DFA9", GradientType=1 );
}

input {
  @apply text-gray-700;
}

input:focus {
  outline: none;
}

/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
